<style>
    .accordion-heading {
        cursor: pointer;
    }
</style>
<details name="exclusive-accordion">
    <summary class="accordion-heading">
        Summary Heading 1
    </summary>

    <p>Content can be HTML</p>
</details>
<details name="exclusive-accordion">
    <summary class="accordion-heading">
        Summary Heading 2
    </summary>

    or just text
</details>
<details name="exclusive-accordion">
    <summary class="accordion-heading">
        Summary Heading 3
    </summary>

    <div>or many html elements</div>
    <div>another html elements</div>
    followed by text content
</details>